{% extends 'base.html.twig' %}

{% block title %}Roman index{% endblock %}

{% block body %}
    <h1>Roman index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Couverture</th>
                <th>Prix</th>
                <th>Genre</th>
                <th>Resume</th>
                <th>Relation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roman in roman %}
            <tr>
                <td>{{ roman.id }}</td>
                <td>{{ roman.titre }}</td>
                <td>{{ roman.couverture }}</td>
                <td>{{ roman.prix }}</td>
                <td>{{ roman.genre }}</td>
                <td>{{ roman.resume }}</td>
                <td>{{ roman.relation }}</td>
                <td>
                    <a href="{{ path('romans_show', {'id': roman.id}) }}">
                        <button type="button" class="btn btn-outline-info">Voir</button>
                    </a>
                    <a href="{{ path('romans_edit', {'id': roman.id}) }}">
                        <button type="button" class="btn btn-outline-success mx-3">Editer</button>
                    </a>
                </td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('romans_new') }}">
        <button type="button" class="btn btn-outline-danger">Danger</button>
    </a>
{% endblock %}
